<%- include('partials/header') %>

  </head>

  <body>
    <div class="confetti" style="display: none;">
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
  </div>
    <div class = "settings">
      <div class = "setOut"></div>
      <div class = "set_align">
      <div class = "setting_header">
        <a href="javascript:" class="Settings_btn btn_type2">SETTINGS</a>
        <a href="javascript:" class = "close_set btn_type1">CLOSE</a>
      </div>
      <div class = "setting_holder">
       
      <div class = "s_sidebar">
          <button id="s_side_but1" class="side_button">Latency</button>
          <button id="s_side_but2" class="side_button">Cache</button>
          <!-- <button id="s_side_but3" class="side_button">Memory</button> -->
      </div>
      <div class = "s_marker">

      </div>
      <div>
      <div class = "s_latency">
        <div >
          <label>Choose a Instruction:</label>
          <select id="latency_input" name="latencies">
            <option value="add">add</option>
            <option value="sub">sub</option>
            <option value="addi">addi</option>
            <option value="lw">lw</option>
            <option value="sw">sw</option>
            <option value="la">la</option>
            <option value="li">li</option>
            <option value="beq">beq</option>
            <option value="bne">bne</option>
            <option value="bgt">bgt</option>
            <option value="blt">blt</option>
            <option value="bgeu">bgeu</option>
            <option value="bltu">bltu</option>
            <option value="jalr">jalr</option>
            <option value="jal">jal</option>
            <option value="j">j</option>
            <option value="jr">jr</option>
        </select>
        </div>
        <div class = "s_latency_holder">
          <label>Latency  :</label>
          <input type="number" id="latencyVal" name="quantity" min="1" max="100">
      </div>
      </div>
      <div class="s_cache">
        <div class = "s_cache_holder">
          <label>Cache size  :</label>
          <select id="cache_size_input" name="cache_size">
            <option value="64">64 bytes</option>
            <option value="128">128 bytes</option>
            <option value="256">256 bytes</option>
            <option value="512">512 bytes</option>
            <option value="1024">1024 bytes</option>
            <option value="2048">2048 bytes</option>
        </select>
        <!-- </div> -->
        <!-- <div> -->
          <label>Block size  :</label>
          <select id="block_size_input" name="block_size">
            <option value="4">4 bytes</option>
            <option value="8">8 bytes</option>
            <option value="16">16 bytes</option>
            <option value="32">32 bytes</option>
            <option value="64">64 bytes</option>
          </select>
        <!-- </div> -->
        <!-- <div> -->
          <label>Associativity :</label>
          <select id="associativity" name="Associativity">
            <option value="100">Direct Associative</option>
            <option value="32">32 Way Associativity</option>
            <option value="16">16 Way Associativity</option>
            <option value="8">8 Way Associativity</option>
            <option value="4">4 Way Associativity</option>
            <option value="2">2 Way Associativity</option>
            <option value="1">Fully Associativity</option>
          </select>
        <!-- </div> -->
        <!-- <div> -->
          <label>Policy :</label>
          <select id="policy" name="Policy">
            <option value="0">LRU</option>
            <option value="1">Random</option>
          </select>
        <!-- </div> -->
        <!-- <div> -->
          <label>Memory Latency :</label>
          <input type="number" id="mem_latencyVal" name="quantity" min="1" max="200">
        <!-- </div> -->
        <!-- <div> -->
          <label>Cache Latency    :</label>
          <input type="number" id="cache_latencyVal" name="quantity" min="1" max="100">
        </div>
      </div>
      </div>
    </div>
      </div>
    </div>
    <div class = "Pipe-Table">
      <div class = "Pipe-table_holder">
      <div class = "table_header">
        <a href="javascript:" class="Tables_btn btn_type2">TABLE</a>
        <a href="javascript:" class = "close_tab btn_type1">CLOSE</a>
      </div>
      
      
      <div class = "table_holder">
        <div class = "t_sidebar">
          <button id="t_side_but1" class="side_button">Core1</button>
          <button id="t_side_but2" class="side_button">Core2</button>
      </div>
        <div class = "t_marker">

        </div>
        <div id = "pipeline_table">
          <div id="root">
            <table>
            <% for(let i=0;i<=10;i++) { %>
              <tr>
                <% for(let j=0;j<=18;j++) { %>
                    <td><button class="b2" id="pipe-<%=i%>,<%=j%>"></button></td>
                  <% } %>
              </tr>
              <% } %>
            </table>
          </div>
        </div>

      </div>
    </div>
    </div>
    </div>
    <!-- first header for file edit buttons -->
    <nav id="mainNavbar" class="navbar navbar-dark  navbar-expand-md py-0 fixed-top">
      <a href="#" class="navbar-brand Simulatorbtn">SIMULATOR</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navLinks">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a href="javascript:" class="nav-link" id="enjoy"> FILE</a>
            <div class="dropdown-content">
              <!-- <button class="btn-primary">Bubble Sort</button> -->
              <a href="javascript:" class="bubble">Bubble Sort</a>
              <a href="javascript:" class="selection">Selection Sort</a>
            </div>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link" id="enjoy"> EDIT</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link" id="enjoy">HELP</a>
          </li>
          <li class="nav-item">
            <a href="javascript:" class="nav-link show_set">SETTINGS</a>
          </li>
          <li class="nav-item">
            <a href="javascript:" class="nav-link show_tab">TABLE</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- for run buttons and commands -->
    <section class="Top">
      <div class="Top_buttons">
        <!-- Step forward -->
        <button class="reset" id="restart">&#8635</button>
        <button class="Step_fd">&#128898;</button>
        <!-- Step backward -->
        <button class="Step_bk">&#128896;</button>
        <button class="Run">Run</button>
          <label for="" id="forwarding">Forwarding:</label>
          <label class="forwarding_toggle">
          
          <input type="checkbox" class = "forward_input">
          <span class="slider round"></span>
        </label>
    </div>
    </section>




    <div class="main_container">
      <div class="container12">
        <div class="side_bar ">
          <button id="side_but1" class="side_button">Editor</button>
          <button id="side_but2" class="side_button">Cache</button>
          <button id="side_but3" class="side_button">Memory</button>
          <button id="side_but4" class="side_button">Console</button>
        </div>
        <div class="holder" id="editor_id" style="display: block">

          <div class="text_holder">

            <div class="text">

              <div class="editor1">
                <div class="num" id="1"></div>
                <div class="text1">
                  <!-- <textarea name="a" id="e1" class="abc" cols="30" rows="10"></textarea> -->
                  <div id="wrapper">
                    <!-- <textarea id="mytextarea" cols="80" rows="10" placeholder="USE ME"></textarea> -->
                    <div id="mytextarea">#Write Your Code Here</div>
                  </div>
                </div>
              </div>
              <div class="editor2">
                <div class="num" id="2"></div>
                <div class="text2">
                  <!-- <textarea name="a" id="e1" class="abc" cols="30" rows="10"></textarea> -->
                  <div id="wrapper2">
                    <!-- <textarea id="mytextarea2" cols="80" rows="10" placeholder="USE ME"></textarea> -->
                    <div id="mytextarea2">#Write Your Code Here</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="register">
              <!-- <button class="reg_button">Register1</button>
                        <button class="reg_button">Register2</button> -->

              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary">
                  <input id="radio_reg1" type="radio" name="options" id="option1" checked> Register1
                </label>
                <label class="btn btn-primary">
                  <input id="radio_reg2" type="radio" name="options" id="option2"> Register2
                </label>
              </div>

              <div class="reg_header">
                <!-- <li id="regs"> -->
                <div>
                  <ul>
                    <li id="decimal" style="display: block">
                      <table class="register1-table" cellspacing="0" id="reg1_table" style="display : block">
                        <tr>
                          <td class="t1"><button class="b1" id="reg_heading">Name</button></td>
                          <td class="t1"><input type="text" value="Value" id="val_heading"></td>
                        </tr>
                        <% for(let i=0;i<=31;i++) { %>
                          <tr>
                            <td><button class="b1" id="reg1<%= i %>">x<%= i %></button></td>
                            <td><input type="text" id="reg1Text<%= i %>" value="0" readonly></td>
                          </tr>
                          <% } %>
                      </table>

                      <table class="register2-table" cellspacing="0" id="reg2_table" style="display : none">
                        <tr>
                          <td class="t1"><button class="b1" id="reg_heading">Name</button></td>
                          <td class="t1"><input type="text" value="Value" id="val_heading"></td>
                        </tr>
                        <% for(let i=0;i<=31;i++) { %>
                          <tr>
                            <td><button class="b1" id="reg2<%= i %>">y<%= i %></button></td>
                            <td><input type="text" id="reg2Text<%= i %>" value="0" readonly></td>
                          </tr>
                          <% } %>
                      </table>

                    </li>

                  </ul>
                </div>
                <!-- </li> -->
              </div>







            </div>
          </div>
        </div>
        <!-- cache_holder -->
        <div class="cache_holder" id="cache_id" style="display: none">
          <div id = "cache_table_root">
          <table>
            <% for(let i=0;i<=10;i++) { %>
              <tr>
                <% for(let j=0;j<=1;j++) { %>
                    <td><button class="b7" id="cache-<%=i%>,<%=j%>"></button></td>
                  <% } %>
              </tr>
              <% } %>
            </table>
            <table>
                <tr>
                    <td><button class="b71" id="miss"></button></td>
                </tr>
                <tr>
                  <td><button class="b71" id="access"></button></td>
              </tr>
              <tr>
                <td><button class="b71" id="missrate"></button></td>
            </tr>
              </table>
          </div>
        </div>


        <!-- memory -->

        <div class="memory_holder" id="memory_id" style="display: none">

          <!-- <div> -->
          <!-- <ul> -->
          <!-- <li id="decimal" style="display: block"> -->

          <!-- <div id="data-container"> -->

          <!-- </div> -->
          <!-- <script src="pagination.js"></script> -->

          <!-- </li> -->

          <!-- </ul> -->
          <!-- </div> -->
          <div class="pagination" id="pagination-container"></div>

          <!-- </div> -->

          <div class="reg_header" id="okok">
            <div>
            </div>
          </div>

        </div>
        <div id = "console_id" style="display: none;">
        <div class = "console_holder">
            <div class="console1_holder">
                <div id="console1" class = "consoles">Read Only</div>
          </div>
          <div class = "console2_holder">
            <div id="console2" class = "consoles">Read Only</div>
          </div>
      </div>
    </div>
    </div>

    <script src="/javascripts/register.js"></script>
    <script type="module" src="/javascripts/Navbar.js"></script>
    <script type="module" src="/javascripts/sidebar.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.5.3/ace.js"></script>
    <script type="module" src="/javascripts/diagram.js"></script>
    <script type="module" src="/javascripts/editor.js"></script>
    <script type="module" src="/javascripts/Processor.js"></script>
    <script type="module" src="/javascripts/table.js"></script>
    <script type="module" src="/javascripts/SettingsEditor.js"></script>

  </body>

  </html>